$my-general-color: rgb(162, 59, 59);

.pageContent{
    width: auto;
    margin: auto 5%;
}
.infoCard{
    display: flex;        
    width: auto;  
    justify-content: center;
    margin-top: 10px;
    
}

.cardImage{
    width: 50%;
    text-align: center;
    background-color: $my-general-color;
    color: white;
    h3{
        font-style: italic;
        color: white;
    }
    img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}
.cardDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    width: 50%;
    word-wrap: break-word;
    background-color: whitesmoke; 
    p{        
        text-align: justify;
    }

   
}
   