$my-general-color: rgb(162, 59, 59);

@keyframes colorAnimation {
    0% {
        border-color: white;
    }

    100% {
        border-color: $my-general-color;
    }
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideOutFromRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-120%);
    }
}
 
.pageContent {
    width: auto;
    margin: auto 3%;

}

.infoCard {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;


}

.cardImage {
    width: 50%;
    text-align: center;
    background-color: $my-general-color;
    color: white;

    h3 {
        font-style: italic;
        color: white;

    }

    img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}

.cardDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    background-color: whitesmoke;

    p {
        text-align: justify;
    }
}

.selectCard {
    margin-top: 15px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 10px;

    .selectTitle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            margin: 1% 2%;
            border: none;
            font-size: 100%;
            background: none;
            padding: 2%;

            transition: all 0.5s ease-in-out;
            border-bottom: 5px solid;
            animation-name: colorAnimation;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            &:hover {
                background-color: $my-general-color;
                border-radius: 10px;
                animation-iteration-count: 0;
                color: white;

            }
        }
    }
}
.selectedCardInfo {       
    &[flg_active='true']{
        animation: 1s ease-in-out 0s 1 slideInFromLeft;  
    }
    &[flg_active='false']{
        animation: 1s ease-in-out 0s 1 forwards slideOutFromRight;  

    }
    div {
      
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
       
        p {
            width: 50%;
            height: 60%;
            text-align: center;
        }

        img {
            width: 50%;
            height: 100%;
            object-fit: cover;           
        }
        .svg{
            width: 20%;
            margin-right: 2%;
            object-fit: cover;
        }
    
        .cardInfoContent {
            margin-top: 20px;
            background-color: whitesmoke;
        }
    }
}