.techContent {
    width: auto;
    margin: auto 3%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.myItems {
    margin: auto;
    width: 70%;
   
    article {
        text-align: left;
        text-transform: uppercase;
        margin: 10px 0;
    }
    .cardContent {           
      
        width: 100%;
        margin: auto;
        text-align: center;
        .imgContainer {            
            display: inline-block;                 
            width: 25%;           
            margin: 0px 1%;
            img{
                width: 100%;
                object-fit: cover;
              
            }
          
        }
       
      


    }


}